.errorpags{
    background-image:url('https://img.freepik.com/premium-vector/vector-error-404-concept-illustration_588331-176.jpg?w=740');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:100vh;
    

}